Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vs/TestingGrounds/v15/Solution.VC.db-wal
.vs/TestingGrounds/v15/Solution.VC.db-shm
